.card {
    font-size: 2em;
    outline: 0.08em solid silver;
    margin: 0.2em;
    cursor: default;
}

.card.hidden {
    background: silver;
}

.card.hidden:focus {
    outline: 0.1em solid #195b94;
}

.card.justMatched,
.card.justMismatched {
    outline: 0.1em solid green;
}

.card.justMismatched {
    outline-color: red;
}

.card.visible {
    cursor: not-allowed;
    pointer-events: none;
}

.card.disabled {
    cursor: not-allowed;
    pointer-events: none;
    outline-color: black;
}

.card > span {
    font-size: 1.2em;
    padding: 0 3px 0 3px;

    /* color: transparent;
    text-shadow: 0 0 0 red; */
}