.hallOfFame {
    width: 20%;
    border-collapse: collapse;
    text-align: center;
}

.hallOfFame tr:nth-child(even) {
    background: #eee;
}

.hallOfFame td,
.hallOfFame th {
    padding: 0 15px 0 15px;
}